.markdown p {
    @apply text-base font-libre leading-7 text-gray-700 mt-6 space-y-2;
  }

.markdown ol, .markdown ul{
    margin-top: 8px;
    margin-left: 16px;
}

.markdown li{
    line-height: 1.5em;
}

.markdown a{
 
    color: #1a73e8;
    text-decoration: underline;
}