.markdown {
    @apply prose-dark text-white/60 text-lg;    
}

.markdown p {    
    margin-top: 8px; 
  }

.markdown ol, .markdown ul{
    margin-top: 8px;
    margin-left: 16px;
}

.markdown li{
    line-height: 1.5em;
}

.markdown a{
 
    color: #1a73e8;
    text-decoration: underline;
}

.markdown table{
    border-collapse: collapse;
    width: 100%;
    @apply bg-slate-200 text-sm;
}

.markdown td, .markdown th{
    border: 1px solid #ddd;
    padding: 8px;
}

.markdown img{
   @apply mx-auto w-2/3;
}