aiohttp==3.8.5
aiosignal==1.3.1
appnope==0.1.3
asttokens==2.4.1
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
comm==0.2.0
dataclasses-json==0.5.13
debugpy==1.8.0
decorator==5.1.1
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.0.1
filelock==3.9.0
frozenlist==1.4.0
fsspec==2023.4.0
gorilla-cli==0.0.9
halo==0.0.31
idna==3.4
idt @ git+ssh://git@github.com/BlackSquareCa/insight-data-tools.git@0ccea1573937ec5e29d2e4faeeef2c3923319bb7
ipykernel==6.27.1
ipython==8.18.1
jedi==0.19.1
Jinja2==3.1.2
jupyter_client==8.6.0
jupyter_core==5.5.0
langchain==0.0.245
langsmith==0.0.15
log-symbols==0.0.14
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib-inline==0.1.6
mpmath==1.2.1
multidict==6.0.4
mypy-extensions==1.0.0
nest-asyncio==1.5.8
networkx==3.0rc1
numexpr==2.8.4
numpy==1.25.1
openai==0.27.8
openapi-schema-pydantic==1.2.4
openpyxl==3.1.2
packaging==23.1
pandas==2.0.3
pandas-stubs==2.0.2.230605
parso==0.8.3
pexpect==4.9.0
Pillow==9.3.0
platformdirs==4.0.0
prompt-toolkit==3.0.41
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==1.10.12
Pygments==2.17.2
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0.1
pyzmq==25.1.1
requests==2.31.0
six==1.16.0
spinners==0.0.24
SQLAlchemy==2.0.19
stack-data==0.6.3
sympy==1.11.1
tenacity==8.2.2
termcolor==2.3.0
torch==2.3.0.dev20240215
torchvision==0.18.0.dev20240215
tornado==6.4
tqdm==4.65.0
traitlets==5.14.0
types-pytz==2023.3.0.0
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.4
wcwidth==0.2.6
yarl==1.9.2
